<body style="margin: 10px;">
<div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
<div align="center"><img src="../../../images/wise_roads.png" style="height: 90px; width: 340px"></div><br>
<br>
&nbsp;Payslip<br>
<br>
This is an automatic email sent through RealState HRM & Payroll
<br>
RealState ERP<br />

</div>
</body>
