<form method="POST" action="">
<table width="80%" border="0" cellspacing="2" cellpadding="2" align="center" >
  <tr>
    <td valign="middle" align="center">
    
    <table width="50%"  border="0" cellspacing="2" cellpadding="2" align="center" style="border:solid 1px #CCCCCC" bgcolor="#F1F3F5">
  <tr>
    <td width="30%" bgcolor="#F1F3F5"><img src="../images/security.png" width="64" height="64"></td>
    <td width="70%" bgcolor="#F1F3F5" class="smallfont"><br>
      <img src="../images/login.gif" alt=""></td>
    </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#F1F3F5" class='smallfonts'>Use a valid username and password to gain access to the ERP console.</td>
    <td align="left" valign="top" bgcolor="#F1F3F5" class='smallfont'><table width="100%" bgcolor="#E9E4C5" border="0" cellspacing="2" cellpadding="2" style="border:solid 1px #CCCCCC">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>username:</td>
      </tr>
      <tr>
        <td><input name="username" type="text" size="20"></td>
      </tr>
      <tr>
        <td>password:</td>
      </tr>
      <tr>
        <td><input name="password" type="password" size=20></td>
      </tr>
      <tr>
        <td><input name="action" type="submit" value="Login" class="button"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#F1F3F5" class='smallfont'>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>    </td>
  </tr>
  <tr>
    <td valign="middle" align="center"><? if(!empty($error))
{
?>
<table width="50%" border="0" cellspacing="2" cellpadding="2" align="center" class="tborder_error">
  <tr>
    <td align="center" class='error'><? echo $error; ?></td>
  </tr>
</table>


<? }
?></td>
  </tr>
</table>
</form>


