
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TableTools styles
 */
.TableTools {
	padding: 1px 0 1px 1px;
	border: 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-color:#F0F0C1;
	background-color: #F5F5F5;
	float: right;
	margin: 6px 5px 3px;
}

.TableTools_button {
	position: relative;
	float: left;
	margin-right: 3px;
}

.TableTools_csv {
	background: url(../images/csv.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_csv_hover {
	background: url(../images/csv_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_xls {
	background: url(../images/xls.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_xls_hover {
	background: url(../images/xls_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_clipboard {
	background: url(../images/copy.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_clipboard_hover {
	background: url(../images/copy_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_print {
	background: url(../images/print.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_print_hover {
	background: url(../images/print_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_PrintInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	padding: 10px 30px;
	opacity: 0.9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.TableTools_PrintInfo h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.TableTools_PrintInfo p {
	font-size: 14px;
	line-height: 20px;
}
.TableTools_PrintMessage{margin:2px 8px 10px; border:1px solid #333; padding:5px; font-weight:normal; display:block; font-size:14px; font-family:Georgia, serif;}
.TableTools_PrintMessage strong{ font-size:21px; line-height:25px; letter-spacing:-1px;}
.TableTools_PrintMessage span{ text-align:center; display:block; line-height:normal; font-weight:bold; margin:0px; padding:0px;}
.TableTools_PrintMessage h6{ text-align:center; font-size:14px; display:block; line-height:normal; font-weight:normal; margin:0px; padding:0px;}
.TableTools_PrintMessage h5{ float:right; clear:right; font-size:14px; display:block; line-height:normal; font-weight:normal; margin:0px; padding:0px;}

.noScrollY{ overflow:visible !important; height:auto !important; }
div.noScrollY table#example tbody td{ border:1px solid #333;}
